/*** 
 ====================================================================
         Footer Section
 ====================================================================
 ***/
.footer-section {
    position: relative;
    display: block;
    background: #f2f2f2;
    padding: 94px 0 0px;
}

.footer-widget-title {
    margin-bottom: 25px;
}

.footer-widget-title h3 {
    font-size: 22px;
    color: #0c0c0c;
    font-weight: 600;
    line-height: 32px;
}

.footer-widget-about {
    margin-right: 20px;
}

.footer-widget-about-text {
    margin-top: -4px;
}

.footer-widget-about-text p {
    font-size: 16px;
    color: #3d3c3c;
    line-height: 33px;
    margin: 0;
}

.footer-widget-about-social {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.footer-widget-about-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #26262c;
    color: #ffffff;
    font-size: 15px;
    transition: all 500ms ease;
}

.footer-widget-about-social a:hover {
    background: var(--thm-primary);
}

.footer-widget-about-social a + a {
    margin-left: 10px;
}

.footer-widget-useful-links {}

.footer-widget-useful-links-list {}

.footer-widget-useful-links-list li + li {
    margin-top: 7px;
}

.footer-widget-useful-links-list li a {
    font-size: 16px;
    color: #131212;
}

.footer-widget-useful-links-list li a:hover {
    color: var(--thm-primary);
}

.footer-widget-contact {}

.footer-widget_contact-info {}

.footer-widget_contact-info p {
    color: #292828;
    font-size: 16px;
    margin: 0;
    line-height: 26px;
    margin-bottom: 4px;
}

.footer-widget_contact-info a {
    color: #313030;
    font-size: 16px;
}

.footer-widget-gallery {
    margin-left: 86px;
}

.footer-widget-gallery-list {
    padding-top: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* spacing between images */
}

.footer-widget-gallery-list li {
    width: calc(33.33% - 10px); /* 3 items per row */
    margin: 0;
}

.footer-widget-gallery-list li .gallery-img {
    position: relative;
    display: block;
}

.footer-widget-gallery-list li .gallery-img:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(255, 255, 255, 0.3);
    transform: scaleX(0);
    transition: all 500ms ease;
}

.footer-widget-gallery-list li:hover .gallery-img:before {
    transform: scaleX(1);
}

.footer-widget-gallery-list li .gallery-img img {
    border-radius: 5px;
    width: 100%;
}

.gallery-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--thm-primary);
    font-size: 15px;
    transform: scale(0);
    transition: all 500ms ease;
}

.footer-widget-gallery-list li:hover .gallery-img-hover {
    transform: scale(1);
}

.footer-bottom {
    padding-top: 84px;
    padding-bottom: 40px;
}

.footer-bottom p {
    font-size: 18px;
    color: #1f1e1e;
    line-height: 30px;
    margin: 0;
    text-align: center;
}
